<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
    <test thread-count="2" name="BaseTest" parallel="methods">
        <classes>
            <class name="com.testautomation.tests.BaseTest"/>
            <class name="com.testautomation.tests.LoggingPageTests"/>
            <class name="com.testautomation.tests.HomePageTests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->